@import '../css/navbar2.css';
@import '../css/footer.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}



body {
    font-family: 'Inter', sans-serif;
}

.navbar {
    background: url('../images/pexels-balamurugan-anbazhagan-763103.webp') no-repeat fixed 80% 40%;
    position: relative;
}

.grid-template {
    width: 700px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 0.5fr);
    gap: 30px;
    font-size: smaller;
    margin: 30px;
}

.grid-template i {
    color: rgba(0, 162, 255, 0.849);
    padding-right: 2px;
}

.continut {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.position {
    background-color: rgba(153, 146, 146, 0.589);

    border-bottom-left-radius: 35px;
    border-bottom-right-radius: 35px;
    position: absolute;
    height: 250px;
    top: -108px;
}

.pret-ctn {
    width: 420px;
}

.right1 {
    width: 350px;
    position: relative;
    top: 30%;

}

.header div p {
    background-color: rgba(143, 138, 138, 0.962);
    text-align: center;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
    height: 40px;
}

.header p:nth-child(2) {
    background-color: rgba(170, 163, 163, 0.362);
    height: 60px;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.companies {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-items: center;
    gap: 15px;
}

.right2 {
    margin-bottom: 30px;
    position: absolute;
    top: -100px;
    width: 100%;
}

.btn-6 {
    width: 100%;
    display: flex;
    justify-content: left;
    gap: 120px;
    background-color: gray;
    height: 60px;
    align-items: center;
    font-size: 30px;
    color: rgb(51, 51, 51);
    padding-left: 50px;
}

.btn-6 div a {
    color: rgb(24, 23, 23);
    text-decoration: none;
    overflow: hidden;
    z-index: 1000
}



.btn-6 div a:hover {
    opacity: 1;

    -webkit-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all 400ms ease-out;
    border-bottom: 3px solid #ffe800;

    color: yellow;

}

.photos,
.pret-ctn,
.details-ctn {
    margin: 50px 50px 50px 120px;
    font-weight: bold;
    font-size: larger;
}

.images-grid-background {
    background: url('../images/2003849.webp') center no-repeat;
    height: 120vh;
    width: 100vw;
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    justify-items: center;
    align-items: center;
}

.images-grid-background div {
    width: 600px;
    height: 350px;
    overflow: hidden;
}

.images-grid-background div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 40px;
    padding: 20px;

}

.parteners {
    color: white;
    text-align: center;
    display: flex;
    justify-items: center;
    justify-content: center;
    font-size: larger;
}

.continer {
    display: flex;
    justify-content: space-around;
}

.titlu {
    font-size: 22px;
}

.title-price {
    display: flex;
    justify-content: center;
}

.reservations button {
    width: 280px;
    height: 50px;
    background: rgb(0, 165, 241);
    border: none;
    border-radius: 40px;
    cursor: pointer;
    font-weight: bold;
    font-size: larger;
    box-shadow: 5px 5px 15px 5px #5e5c5c;
}

.reservations {
    text-align: center;
    margin-bottom: 42px;
}

.cont {
    width: 100vw;
    height: 100%;
    position: absolute;
    max-width: 100%;
    top: 0px;
    left: 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    display: none;

}

.water {
    width: 400px;
    height: 400px;
    background-color: skyblue;
    border-radius: 50%;
    position: relative;
    box-shadow: inset 0 0 30px 0 rgba(0, 0, 0, .5), 0 4px 10px 0 rgba(0, 0, 0, .5);
    overflow: hidden;
    position: absolute;
    top: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    display: none;
}

.cart {
    cursor: pointer;
    color: red;
    font-weight: bold;
    font-size: large;
}

.cart:active {
    color: black;
    transition: 500ms linear;
}

.hidden {
    overflow: hidden;
}

.img5 {
    width: 100%;
    height: 50%;
    object-fit: cover;
}

.close {
    display: flex;
    justify-content: flex-end;
    font-size: 52px;
    position: absolute;
    left: 95%;
    cursor: pointer;

}

.close:hover {
    background-color: red;
}

.water:before,
.water:after {
    content: '';
    position: absolute;
    width: 400px;
    height: 400px;
    top: -150px;
    background-color: #fff;
}

.water:before {
    border-radius: 45%;
    background: rgba(255, 255, 255, .7);
    animation: wave 5s linear infinite;
}

.water:after {
    border-radius: 35%;
    background: rgba(255, 255, 255, .3);
    animation: wave 5s linear infinite;
}

.cart-container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.952);
    z-index: 99999;
    transition: 0.3s linear;
    color: wheat;
    transform: scale(0);
    overflow-y: scroll;


}

.cart-container1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
    align-items: center;
    height: 100%;

}

.cart-container.active {
    transform: scale(1);
}

.tara_oras p {
    padding: 30px;
}

.cart-container.active h1 {
    text-align: center;
    padding: 20px;
}

.details-ctn {
    width: 420px;
}

.hidden1 {
    display: none;

}

@keyframes wave {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

@media screen and (max-width:992px) {
    .responsive .dropdown:hover {
        visibility: visible;
        opacity: 1;
        position: relative;
        display: block;
        min-width: 200px;
        text-align: left;
        padding-top: 20px;
        box-shadow: 0px 3px 5px -1px rgb(0 0 0);
    }

    .options {
        display: none;
    }

    .dropdown ul li {
        padding-bottom: 5px;
    }

    .ctn2,
    .ctn3 {
        display: block;
        position: relative;
        width: fit-content;
        margin: 150px 137px 50px 126px;
    }

    .right1 img {
        width: 246px;
        height: 266px;
        object-fit: cover;
        position: absolute;
        top: 25%;
        left: 64%;
    }

    .left1 img {
        width: 267px;
        height: 150px;
        object-fit: cover;
        position: absolute;
        top: 10%;
        left: 56%;
    }

    .text,
    .text1,
    .text2,
    .text3 {
        font-size: 1.45vh;
    }

    .logo img {
        width: 172px;
        height: 252px;
    }

    .right.responsive {
        position: relative;
        left: 45vw;
        height: 100vh;
        width: 55%;
        z-index: 100;
        display: flex;
        box-shadow: -28px -5px 48px -1px rgba(0, 0, 0, 0.75);
    }

    .top-button {
        width: 100%;
    }

    .right.responsive a {
        float: none;
        display: block;
        text-align: center;
    }

    .right a:not(:first-child) {
        display: none;
    }

    a.icon {
        float: right;
        display: block;
        z-index: 100;
        position: absolute;
        top: 50px;
        font-size: 25px;
        color: white;
        right: 3%;
    }

    .dropdown ul li {
        padding-bottom: 6px;
    }

    .right ul {
        list-style-type: none;
        display: block;
        color: white;
        overflow: scroll;
        font-size: 18px;
        padding-top: 75px;

    }

    .right ul li {
        padding-bottom: 20px;
    }

    .right ul::-webkit-scrollbar {
        display: none;
    }

    .right {
        justify-content: center;
        display: none;
        height: 530px;
    }

    .container {
        gap: 22px;
        margin-left: 0px;
    }

    .center {
        grid-template-columns: 1fr 1fr;
        gap: 50px;
        margin: 15px;
    }

    .cart-container1 {
        grid-template-columns: 1fr;
    }

    .right1 {
        left: 0px;
        display: none;
    }

    .position {
        height: 196px;
    }

    .btn-6 {
        gap: 123px;
        font-size: 20px;
        justify-content: center;
    }

    .pret_moldavskii {
        text-decoration: underline;
    }

    .photos,
    .pret-ctn,
    .details-ctn {
        margin: 50px 50px 50px 23px;
    }

    .sricked {
        position: relative;
    }

    .location {
        position: absolute;
        top: 70%;
        left: 45%;
    }

    .price {
        display: flex;
        justify-content: space-between;
    }

    div img {
        width: 100%;
        height: 75%;
        object-fit: cover;
        border-radius: 40px;
    }

    .images-grid-background div {
        width: 80%;
        height: 515px;
        overflow: hidden;
    }

    .images-grid-background {
        background: url(../images/2003849.webp) center repeat;
        height: 100%;
        width: 100%;
        max-width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;
        justify-items: center;
    }

    .companies {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 9px;
        align-items: center;
        justify-items: center;
    }
}


@media screen and (max-width:540px) {
    .container {
        gap: 20px;
    }

    .details-ctn {
        width: 0px;
    }

    .logo img {
        width: 86px;
        height: 123px;
    }

    .container p,
    .container ul>li {
        gap: 2px;
        margin-left: 0px;
        font-size: 9px;
    }

    #upi {
        font-size: 21px;
    }

    .submenu {
        left: 8%;
    }

    .center {
        grid-template-columns: 2fr;
        gap: 70px;
        margin: 20px;
    }

    .button {
        padding-top: 15px;
    }

    .price {
        display: flex;
        flex-direction: column;
    }

    .continer {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    .grid-template {
        width: 313px;
    }

    .btn-6 {
        gap: 26px;
        font-size: 16px;
        padding-left: 0px;
    }

    .location {
        left: 37%;
    }

    .close {
        left: 83%
    }

    .image img {
        width: 90%;
    }

    .images-grid-background div {
        width: 100%;
        height: 515px;
    }

    .images-grid-background div img {
        width: 100%;
        height: 77%;
    }

    .photos,
    .pret-ctn,
    .details-ctn {
        margin: 50px;
        width: 83%;
    }
}