@import url("../css/navbar2.css");
@import url("../css/footer.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}


.navbar {
    background: url('../images/pexels-jeremy-bishop-2422915.webp') no-repeat fixed center;
    object-fit: cover;
    height: 505px;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: bolder;
    letter-spacing: 1px;
}


.formular {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -5%);
    transition: all 1s;
    width: 50px;
    height: 50px;
    background: white;
    box-sizing: border-box;
    border-radius: 25px;
    border: 4px solid white;
    padding: 5px;
}

.inp {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    ;
    height: 42.5px;
    line-height: 30px;
    outline: 0;
    border: 0;
    display: none;
    font-size: 1em;
    border-radius: 20px;
    padding: 0 20px;
}

.formular i {
    box-sizing: border-box;
    padding: 10px;
    width: 42.5px;
    height: 42.5px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    color: #07051a;
    text-align: center;
    font-size: 1.2em;
    transition: all 1s;
}

.formular i {
    box-sizing: unset;
    padding: unset;
    width: unset;
    height: unset;
    position: unset;
    top: unset;
    right: unset;
    border-radius: unset;
    color: unset;
    text-align: unset;
    font-size: unset;
    transition: unset;
}

.formular:hover,
.formular:valid {
    width: 200px;
    cursor: pointer;
}

.formular:hover input,
.formular:valid input {
    display: block;
}

.formular:hover i,
.formular:valid i {
    background: #07051a;
    color: white;
}


#clear-btn {
    display: none;
    position: absolute;
    top: 32.5px;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 20px;
    color: white;
    text-align: center;
    width: 100%;
}

.formular:valid #clear-btn {
    display: block;
    position: relative;
}


select,
input,
button {
    padding: 10px;
    width: 180px;
    margin-right: 15px;
    height: 40px;
    border: none;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.formular2 {
    position: relative;
    background-color: white;
    top: unset;
    left: unset;
    transform: none;
    transition: none;
    width: unset;
    height: unset;
    background: white;
    box-sizing: none;
    border-radius: unset;
    border: unset;
    padding: 5px unset;
}

.formular2:hover {
    width: unset;
}

.forms {
    padding: 40px 0px 10px 0px;
    height: 187px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #dddd;
}

.search {
    position: relative;
}

.btn button {
    color: white;
    background-color: rgb(0, 253, 198);

}

.search i {
    position: absolute;
    top: 10%;
    left: 80%;
}

.card_ctn {
    background-color: rgb(235, 228, 228);
    height: 1300px;
}

.prima,
.doi,
.trei,
.patru {
    font-family: 'Inter', sans-serif;
}

.cnt {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    gap: 20px;
}

.card_ctn img {
    width: 100%;
    height: 417px;
    object-fit: cover;
    cursor: pointer;
}

.prima,
.doi,
.trei,
.patru {
    background-color: rgb(240, 234, 234);
    width: 80%;
}

.inline {
    display: flex;
    justify-content: space-around;
}

.content {
    padding: 15px 30px 30px 15px;
}

.content p {
    font-weight: 700;
}

.pret i {
    font-style: normal;
    font-size: 20px;
    color: #3ca0e7;
}

.content h5,
.content p {
    cursor: pointer;
}

.ask_tab img {
    width: 100%;
}

.ask_tab {
    position: relative;

}

.content-01 {
    display: flex;
    position: absolute;
    left: 75vh;
    top: 36vh;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 25px;
}

.content-01 button {
    border-radius: 46px;
    background-color: rgb(64, 48, 160);
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 25px;
    height: 75px;
    width: 310px;
    cursor: pointer;
}

.stil {
    position: relative;
    top: 37px;
    left: 35%;
    width: 518px;
    height: 50px;
    line-height: 2px;
}

.l1 {
    position: absolute;
    width: 80%;
    top: 30%;
    left: 19%;
}

.l2 {
    position: absolute;
    width: 65%;
    top: 55%;
}

.l3 {
    position: absolute;
    top: 80%;
    left: 19%;
    width: 80%;
}

.news {
    height: 541px;
    margin: 0 auto;
    text-align: center;
    margin-top: 70px;
    font-family: 'Inter', sans-serif;
    font-size: 25px;
    font-weight: bold;
}

.divider {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.divider a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.divider a:hover {
    color: #2570e0;

}

.footer {
    display: flex;
    height: 455px;
    background-color: rgb(10, 20, 47);
}

.container {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    margin: 100px 173px 100px 160px;
    gap: 95px;
    width: 80vw;
}

#gmail {
    padding-top: 20px;
}

.cc {
    padding-top: 5%;
    grid-column-start: 2;
    grid-column-end: 5;
}

.footer {
    font-family: 'Poppins';
    color: white;
}

.footer ul {
    list-style: none;
    font-size: 16px;
    line-height: 20px;
}

.container ul li:hover,
.container p:hover {
    border-bottom: 1px solid white;
    cursor: pointer;
}

#upi {
    color: #00e1ff;
    font-size: 40px;
    transition: 3s ease-out;
}

.footer a {
    text-decoration: none;
    color: white;
}

.responsive {
    overflow: hidden;
    background-color: #333;
}

.responsive a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.responsive a:hover {
    background-color: #ddd;
    color: black;
}

.responsive a.active {
    background-color: #04AA6D;
    color: white;
}

.icon {
    display: none;
}

@media screen and (max-width:992px) {
    .responsive .dropdown:hover {
        visibility: visible;
        opacity: 1;
        display: block;
        min-width: 200px;
        text-align: left;
        padding-top: 20px;
        box-shadow: 0px 3px 5px -1px rgb(0 0 0);
    }
         ul li:hover>ul,
         ul li ul:hover {
             position: relative;
         }

    .options {
        display: none;
    }

    .right.responsive {
        position: relative;
        height: 100vh;
        left: 45%;
        width: 55%;
        z-index: 100;
        display: flex;
        box-shadow: -28px -5px 48px -1px rgba(0, 0, 0, 0.75);
    }

    .right.responsive a {
        float: none;
        display: block;
        text-align: center;
    }

    .right a:not(:first-child) {
        display: none;
    }

    a.icon {
        float: right;
        display: block;
        z-index: 100;
        position: absolute;
        top: 50px;
        font-size: 25px;
        color: white;
        right: 3%;
    }

    .right ul {
        list-style-type: none;
        display: block;
        color: white;
        overflow: scroll;
        font-size: 18px;
        padding-top: 75px;
    }

    .right ul li {
        padding-bottom: 20px;
    }

    .right ul::-webkit-scrollbar {
        display: none;
    }

    .right {
        justify-content: center;
        display: none;
        height: 530px;
    }

    .divider {
        grid-template-columns: 1fr;
    }

    .divider p {
        width: 100%;
        margin: 0 auto;
    }

    .news {
        height: 100%;
    }

    .content-01 {
        left: 9vh;
        top: 9vh;
    }

    .container {
        gap: 10px;
        margin-left: 0px;
    }

    select,
    input,
    button {
        width: 143px;
    }

    .divider {
        width: 100%;
    }

    .documents {
        width: 100%;

    }

    .divider img {
        width: 300px;
    }
}

@media screen and (max-width:540px) {
    .forms {
        padding: 9px 0px 0px 0px;
        display: flex;
        height: 100%;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
    }

    form {
        display: flex;
        flex-direction: column;
    }

    select,
    input,
    button {
        width: 203px;
        margin: 10px
    }

    .card_ctn {
        height: 100%;

    }

    .cnt {
        grid-template-columns: 1fr;
    }

    .content-01 p {
        font-size: 13px;
    }

    .content-01 button {
        font-size: 12px;
        height: 38px;
        width: 115px;

    }


    .stil {
        top: 23px;
        left: 22%;
        width: 277px;
    }

    .container p,
    .container ul>li {
        gap: 2px;
        margin-left: 0px;
        font-size: 9px;
    }

    .logo img {
        width: 86px;
        height: 123px;
    }

    .container {
        gap: 20px;
    }
}

/* @media screen and (max-width:1024px){

    .container{
        gap:58px;
    }
    .divider img{
        width: 300px;
    }
    .divider {
        display: grid;
        grid-template-columns: 0.5fr 0.5fr 0.5fr;
    }
    .news{
        height: 441px;
    }
} */