@keyframes fade{
    0%{
        opacity: 0;
        transform: translate(0,2rem);
    }
    100%{
        opacity: 1;
        transform: translate(0,0);
    }
}

@media(prefers-reduced-motion: no-preference){
    .in-view{
        animation: fade 1s .3s both;
    }
    .not-in-view{
        opacity: 0;
    }
}