.Layer_1 {
    position: absolute;
    width: 65px;
    left: 50px;
    top:10px;
}

.Layer_2 {
    position: absolute;
    width: 65px;
    left: 50px;
    top:10px;
}

.right ul {
    list-style-type: none;
    display: flex;
    gap: 49px;
    justify-content: space-between;
    align-items: center;
    color: white;
    /* overflow: scroll; */
    font-size: 18px;
}

.right ul>li {
    cursor: pointer;
    position: relative;
}

.right {
    display: flex;
    height: 95px;
    width: 100%;
    justify-content: flex-end;
}

.form{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-5%);
    transition: all 1s;
    width: 50px;
    height: 50px;
    background: white;
    box-sizing: border-box;
    border-radius: 25px;
    border: 4px solid white;
    padding: 5px;
}

.inp{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;;
    height: 42.5px;
    line-height: 30px;
    outline: 0;
    border: 0;
    display: none;
    font-size: 1em;
    border-radius: 20px;
    padding: 0 20px;
}

.form i{
    box-sizing: border-box;
    padding: 10px;
    width: 42.5px;
    height: 42.5px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    color: #07051a;
    text-align: center;
    font-size: 1.2em;
    transition: all 1s;
}

.form:hover,
.form:valid{
    width: 200px;
    cursor: pointer;
}

.form:hover input,
.form:valid input{
    display: block;
}

.form:hover i,
.form:valid i{
    background: #07051a;
    color: white;
}

#clear-btn {
  display: none;
  position: absolute;
  top: 32.5px;
  bottom:0;
  left: 0;
  right: 0;
  font-size: 20px;
  color: white;
  text-align: center; 
  width: 100%;
}

.form:valid #clear-btn {
  display: block;
  position: relative;
}

.sticked {
    transition: 0.5s ease-out;
    z-index: 2;
}

.navbar {
    background: url('../images/pexels-eberhard-grossgasteiger-1428277.jpg') no-repeat fixed center;
    object-fit:cover;
    height: 505px;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: bolder;
    letter-spacing: 1px;
}

.options img {
    object-fit: cover;
}

.right a{
    text-decoration: none;
    background-image: linear-gradient(to right,
            rgb(34, 68, 160),
            rgb(10, 27, 197) 50%,
            rgb(255, 255, 255) 50%);
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-block;
    padding: 5px 0;
    position: relative;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out; 

}

.right a:before {
    content: '';
    background: rgb(36, 78, 192);
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    transition: all 0.3s ease-in-out;
}

.right a:hover {
    background-position: 0;
}

.right a:hover::before {
    width: 100%;
}

ul li ul {
    visibility: hidden;
    opacity: 0;
    padding-left: 0;
    left: 0;
    display: none;
    background: rgba(67, 22, 190, 0.8);
    position: absolute;
    
}
.sticky {
    position: fixed;
    width: 100%;
    top: 0;
    background-color: rgba(10, 20, 47, 0.9);
    z-index: 2;  
    height: 90px;
    color: white;
}
ul li:hover>ul,
ul li ul:hover {
    visibility: visible;
    opacity: 1;
    display: block;
    min-width: 140px;
    text-align: left;
    padding-top: 20px;
    box-shadow: 0px 2px 6px -1px rgb(0, 0, 0);
}

ul li ul li {
    clear: both;
    width: 100%;
    text-align: left;
    margin-bottom: 20px;
    border-style: none;
}

ul li ul li a:hover {
    padding-left: 10px;
    border-left: 2px solid #00000000;
    transition: all 0.3s ease;
}

li ul li a {
    transition: all 0.5s ease;
}

.icon {
    display: none;
}

.responsive {
    overflow: hidden;
    width:0px;
    background-color: #333;
}

.circular--portrait--navbar img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;

}


.responsive a {
    float: none;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.responsive a:hover {
    background-color: #ddd;
    color: black;
    float: none;
}

.responsive a.active {
    background-color: #04AA6D;
    color: white;
}

.right ul li:last-child{
    padding-right: 10px;
}