@import '../css/navbar2.css';
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-width: hidden;
}

body { 
    background-color: rgb(1, 5, 19);
}
.navbar {
    background-color: rgba(28, 94, 233, 0.73);
    position: relative;
    height: 107px;
}


.right a {
    font-size: smaller;
}

.formular{
    position: relative;
    top: 0;
    left: 50%;
    transform: translate(-50%,-5%);
    transition: all 1s;
    width: 50px;
    height: 50px;
    background: white;
    box-sizing: border-box;
    border-radius: 25px;
    border: 4px solid white;
    padding: 5px;
}
.inp{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 42.5px;
    line-height: 30px;
    outline: 0;
    border: 0;
    display: none;
    font-size: 1em;
    border-radius: 20px;
    padding: 0 20px;
}

.video video {
    width: 100%;
    height: 100%;
    border-radius:40px;
    padding: 20px 0px 0px 20px 
}

.center {
    display: grid;
    
    grid-template-columns: 1.5fr 1fr;
    align-items: start;
    justify-items: center;
    
    gap: 0px;

}

#parola1 {

    border-bottom: 1px solid white;
}

form #myInput,
form #myInput1 {

    left: 90%;
    cursor: pointer;

}

.content {
    margin: 40px;
    font-size: x-large;
}

#em {
    display: flex;
    border-bottom: 1px solid white;
    width:290px;
}

.signin p {
    padding-bottom: 30px;
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    color: white;
}

.content .info {
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    color: white;
    padding-top: 20px;
    font-style: normal;
    letter-spacing: 1px;
    line-height: 35px;
    border: none;
}

.content p a {
    outline: 0;
    border: none;
    color: rgb(255, 0, 212);
    font-style: normal;
    font-size: small;
}

.email p,
.parola p,
.user-name p {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
}

.email:focus,
.email input:focus,
.parola:focus,
.parola input:focus,
.user-name:focus,
.user-name input:focus {
    outline: none;
}

.email input,
.parola input,
.user-name input {
    width: 250px;
    border: none;
    background-color: transparent;
    color: white;
    padding: 0px 0px 5px 6px;

}

.parola,
.email,
.user-name {
    padding-top: 30px;
}

.parola i,
.email i,
.user-name i {
    color: white;
    font-size: smaller;
    text-align: center;
}

::placeholder {
    color: rgba(255, 255, 255, 0.726);
    font-size: 11px;
    ;
    padding-left: 8px;
}

.remember {
    margin-top: 30px;
}

.remember p {
    color: white;
    font-size: small;
    text-align: left;
    margin: 0 auto;
}

.remember #check {
    margin-right: 4px;
}

.button button {
    width: 250px;
    height: 35px;
    background-color: rgb(255, 0, 212);
    color: white;
    border: none;
    border-radius: 50px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    cursor: pointer;
}
button:hover{
    
    background-color: rgb(250, 66, 219);
}

.social {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 25px;
    flex-direction: column;
}

.icons i {
    padding: 10px;
    ;
}

.social p {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
}

.icons i {
    font-size: 22px;
    color: white;
}
.error{
    color: red;
    border: 10px;
}


@media screen and (max-width:992px) {
    .responsive .dropdown:hover{
        visibility: visible;
        opacity: 1;
        position: relative;
        display: block;
        min-width: 200px;
        text-align: left;
        padding-top: 20px;
        box-shadow: 0px 3px 5px -1px rgb(0 0 0);
      }
   
    .options{
        display: none;
    }
    .dropdown ul li{
        padding-bottom: 5px;
    }

         ul li:hover>ul,
         ul li ul:hover {
             position: relative;
         }
         
    .ctn2,.ctn3{
        display: block;
        position: relative;
        width:fit-content;
        margin: 150px 137px 50px 126px;
    }
    .right1 img{
        width: 246px;
    height: 266px;
    object-fit: cover;
    position: absolute;
    top: 25%;
    left: 64%;
    }
    .left1 img{
        width: 267px;
    height: 150px;
    object-fit: cover;
    position: absolute;
    top: 10%;
    left: 56%;
    }
    .text,.text1,.text2,.text3{
        font-size: 1.45vh;
    }
    .logo img{
        width: 172px;
        height: 252px;
    }
    .right.responsive {
        position: relative;
        left: 45vw;
        height: 100vh;
        width: 55%;
        z-index: 100;
        display: flex;
        box-shadow: -28px -5px 48px -1px rgba(0,0,0,0.75);
    }
    .top-button{
        width: 100%;
    }
  .right.responsive a {
    float: none;
    display: block;
    text-align: center;
  }
  .right a:not(:first-child) {display: none;}
   a.icon {
    float: right;
    display: block;
    z-index: 100;
    position: absolute;
    top: 50px;
    font-size: 25px;
    color: white;
    right: 3%;
}
.dropdown ul li {
    padding-bottom: 6px;
}
.right ul {
    list-style-type: none;
    display: block;
    color: white;
    overflow: scroll;
    font-size: 18px;
    padding-top: 75px;
    
}
.right ul li{
    padding-bottom: 20px;
}
.right ul::-webkit-scrollbar {
    display: none;
}
.right{
    justify-content: center;
    display: none ;
    height: 530px;
}

    .center {
        grid-template-columns: 1fr;
        overflow-y: hidden;
        overflow-x: hidden;
    }

    .video video {
        border-radius: 0px;
    }
}